h1 { color: red

}
div {
	background-size: cover;
	margin: 0 auto;
	height: 200px;
}
.Food {
	background: url('biznezlanch.github.io/lattebanner.jpg');
	background-size: cover;
	margin: 0 auto;
	height: 500px;
}
.Drinks {
	background: url('biznezlanch.github.io/brownie.jpg');
	background-size: cover;
	margin: 0 auto;
	height: 500px;
	}
.Cafes {
	background: url('biznezlanch.github.io/mulledwine.jpg');
	background-size: cover;
	margin: 0 auto;
	height: 500px;
	} </style>